@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Kaushan+Script&family=Oswald&display=swap');

:root {
  --header-background: #242526;
  --header-link: #75B3FF;
  --background: rgb(58, 59, 60);
  --on-background: #FFFFFF;
  --on-background-alt: #C4CFD4;
  --primary-button: #A7D4EC;
  --primary-button-text: #000;
  --secondary-button: #33E6BF;
  --secondary-button-text: #000;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--on-background-alt);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #75B3FF;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: var(--on-background);
  font-family: 'Comfortaa', sans-serif;
  background-color: var(--background);
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  z-index: 10;
  position: fixed;
  font-family: Oswald, sans-serif;
  font-size: 24px;
  letter-spacing: 3px;
  padding: 25px;
  width: 100vw;
  background: var(--header-background);
}

a {
  margin-right: 25px;
  color: var(--header-link);
  text-decoration: none;
  border-bottom: 3px solid transparent;
  font-weight: bold;
}

a:hover,
a:focus {
    border-bottom: 3px solid;
}

section {

}

h1 {
  font-family: 'Kaushan Script', sans-serif;
  font-size: 100px;
  margin-bottom: 0;
}

.greeting-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: top;
  background-image: linear-gradient(180deg,
        rgba(100, 100, 1, 0.5), rgb(58, 59, 60, 0.5), rgb(58, 59, 60)),
        url("img/code.jpg");
}

.about-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 800px;
  height: 100vh;
}

.project-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.projects-header {
  padding-top: 100px;
}

.project-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
  width: 100%;
}

.project-description-hz {
  margin-left: 10px;
}

.project-card-container {
  display: flex;
  flex-direction: row;
} 

.project-card-container-hz {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-card-image-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  overflow: auto;
}

.project-image {
  margin-right: 3px;
  width: 200px;
}

.project-image img {
  width: 100%;
  /* height: 100%; */
}

.project-card {
  padding: 10px;
  border-radius: 5px;
  border-width: 2px;
  border-color: #75B3FF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  transition: 0.3s;
  max-width: 1000px;
  margin-bottom: 20px;
}

.project-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}

.about-text {
  
}

.modal {
  display: none;
  position: fixed;
  z-index: 20;
  padding-top: 150px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.8);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 1000px;
}

.close {
  position: absolute;
  top: 45px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.buttons {
  margin-top: 15px;
  margin-bottom: 50px;
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: initial;
}


button {
  min-width: 100px;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
  margin-right: 10px;
  font-size: 15px;
  outline: none;
}


.primary {
  color: var(--primary-button-text);
  border: 2px solid var(--primary-button);
  background: var(--primary-button);
}

.secondary {
  color: var(--secondary-button-text);
  border: 2px solid var(--secondary-button);
  background: var(--secondary-button);
}

button:hover {
  filter: brightness(110%);
}

.google-link img {
  max-height: 250px;
  max-width: 250px;
}

.google-link a {
  border-style: none
}

@media screen and (max-width: 1000px) {
  .project-card-container-hz {
    align-items: flex-start;
  }
  .project-card-image-container {
    width: 80%;
  }
  .projects-header {
    margin: 0 10px 0 10px;
  }
  .project-card {
    margin: 0 10px 30px 10px;
    max-width: 700px;
  }
  .about-container {
    max-width: 400px;
  }
  h1 {
    font-size: 65px;
  }
}
@media only screen and (max-width: 700px){
  .project-card-image-container {
    flex-wrap: wrap;
  }
  .modal-content {
    width: 100%;
  }
  .project-card {
    margin: 0 10px 30px 10px;
    max-width: 300px;
  }
  /* .about-container {
    max-width: 400px;
  } */
}

@media screen and (max-width: 700px) {
  .project-card-container-hz {
    align-items: center;
  }
  .project-card-image-container {
    flex-wrap: wrap;
    width: 100%;
    overflow-y: scroll;
    max-height: 500px;
  }
  .project-image {
    width: 100%;
  }
  h1 {
    font-size: 60px;
  }
}

@media screen and (max-width: 480px) {
  .about-container {
    max-width: 300px;
  }
  h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 360px) {
  .about-container {
    max-width: 200px;
  }
  h1 {
    font-size: 30px;
  }
}


@media screen and (max-height: 400px) {
  .modal {
    padding-top: 50px;
  }
}
